<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.vrt.flutter_qualtrics">

    <application>
        <activity android:name="com.qualtrics.digital.QualtricsSurveyActivity" />
        <activity
            android:name="com.qualtrics.digital.QualtricsPopOverActivity"
            android:theme="@style/Theme.Transparent" />
    </application>
</manifest>
